# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
city_data=pd.read_csv('../output_data/clean_cities.csv')
city_data

,Unnamed: 0,City Name,Country,Date,Temperature,Latitude,Longitute,Humidity,Cloudiness,Wind Speed
0,0,San Miguel de Tucumán,AR,1596057541,64.40,-26.82,-65.22,23,89,14.99
1,1,Hambantota,LK,1596057616,79.59,6.12,81.12,80,86,19.10
2,2,Loandjili,CG,1596057616,75.20,-4.76,11.86,78,90,9.17
3,3,Cape Town,ZA,1596057416,57.99,-33.93,18.42,100,75,4.70
4,4,Hermanus,ZA,1596057547,59.00,-34.42,19.23,79,14,1.01
...,...,...,...,...,...,...,...,...,...,...
488,488,Ouadda,CF,1596057716,67.68,8.08,22.40,95,76,2.53
489,489,Honiara,SB,1596057516,75.20,-9.43,159.95,100,75,4.70
490,490,Pontes e Lacerda,BR,1596057555,81.91,-15.23,-59.34,38,0,7.36
491,491,San Jorge,AR,1596057716,57.00,-31.90,-61.86,29,0,3.00
492,492,Redlands,US,1596057655,99.00,34.06,-117.18,16,5,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [43]:
gmaps.configure(api_key=g_key)
fig=gmaps.figure()
humidity = city_data["Humidity"].astype(float)
locations = city_data[["Latitude", "Longitute"]]
fig.add_layer( gmaps.heatmap_layer(locations, weights= humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# Note: Feel free to adjust to your specifications but be sure to limit the number of 
#     rows returned by your API requests to a reasonable number.

In [53]:
#ideal conditions for new df are humidity <80, wind speed < 5,cloudiness >70 Temperature < 80
ideal_vaca_h = city_data.loc[city_data["Humidity"] < 80]
ideal_vaca_w =ideal_vaca_h.loc[ideal_vaca_h["Wind Speed"] < 5]
ideal_vaca_c =ideal_vaca_w.loc[ideal_vaca_w["Cloudiness"] > 70]
ideal_vaca =ideal_vaca_c.loc[ideal_vaca_c["Temperature"] < 80]
ideal_vaca

,Unnamed: 0,City Name,Country,Date,Temperature,Latitude,Longitute,Humidity,Cloudiness,Wind Speed
11,11,Lebu,CL,1596057471,47.57,-37.62,-73.65,68,100,1.10
34,34,Jumla,NP,1596057535,61.93,29.27,82.18,71,100,2.91
55,55,Panzhihua,CN,1596057627,72.43,26.59,101.71,72,84,0.63
82,82,Taltal,CL,1596057572,63.18,-25.40,-70.48,56,79,1.88
147,147,Chara,RU,1596057646,62.91,56.91,118.26,79,92,2.93
171,171,Kaitangata,NZ,1596057425,48.00,-46.28,169.85,76,100,1.99
300,300,Olafsvik,IS,1596057568,51.84,64.89,-23.71,79,79,2.91
307,307,Auki,SB,1596057490,79.97,-8.77,160.70,78,91,2.66
334,334,Santa Catarina Barahona,GT,1596057684,73.40,14.55,-90.79,64,90,4.70
350,350,Kieta,PG,1596057687,79.72,-6.22,155.63,74,75,2.89
374,374,Meulaboh,ID,1596057692,78.58,4.14,96.13,75,100,1.74
406,406,Fort Saint James,CA,1596057699,75.90,54.43,-124.25,30,98,2.73
426,426,Nyagan,RU,1596057703,48.43,62.14,65.39,73,99,2.33
444,444,Padang,ID,1596057707,77.23,-0.95,100.35,75,99,4.50
458,458,High Level,CA,1596057710,71.60,58.52,-117.14,53,75,2.24
472,472,Scarborough,GB,1596057330,57.00,54.28,-0.40,68,100,1.99
481,481,Constitución,CL,1596057463,53.85,-35.33,-72.42,61,98,3.13

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# Using Google Places API to find the first hotel for each city located
# within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing the 
# Hotel Name, City, and Country.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure